# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
.env

# VS Code
.vscode/

# Environments
env/
venv/
ENV/
venv.bak/
*.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
